doctype html
html
  head
    script(type='text/javascript' src='script.js')
      
  body
    if (!user)
      h1 Login
      form(action='/login' method='post')
        input(name='username' placeholder='usuario')
        br
        input(name='password' type='password' placeholder='contraseña')
        br
        input(type='submit' value='Ingresar')
      h3 No tenes usuario? 
      a(href='/signup') Registrate
            
    else 
      h1 Bienvenido #{user.username}   
      a(href='/logout') Logout     
                 
    h1 Trivia
    h4 Nueva pregunta 
    form(action='/question' method='post')
      input(name='question' placeholder='Pregunta')
      br  
      input(name='answerA' placeholder='Respuesta A')
      input(name='checkboxA' type='checkbox' value='true')
      br
      input(name='answerB' placeholder='Respuesta B')  
      input(name='checkboxB' type='checkbox' value='true')
      br
      input(name='answerC' placeholder='Respuesta C')
      input(name='checkboxC' type='checkbox' value='true')  
      br
      input(name='answerD' placeholder='Respuesta D')  
      input(name='checkboxD' type='checkbox' value='true')
      br
      input(type='submit' value='Guardar')
    br      
    ol
      each question in questions
        li= question.title
          ol(type='A')
            each answer in question.answers
              li(id=answer._id) #{answer.title}
                input(type='radio' id=answer._id name=question._id value=answer.isRight ? 'true' : 'false' onclick='checkAnswer(this)' rta=answer._id)
                   
